/*
Nome e Número de estudante
Tiago Pinto Raimundo 3220795

Data
08/06/2024

Nome do Exercício
Portfolio

Época de Avaliação Continua (durante as aulas)

Ano Letivo (3º, 2024-2025), 
Semestre (2º), 
Unidade Curricular (Laboratório de Projeto II), 
Curso (DGM), 
Escola (ESAD.CR), 
Docente (Marco Heleno).
*/

@font-face {
    font-family: "Inter";
    src: url(fonts/Inter/static/Inter_28pt-Medium.ttf)format("truetype");
}

@font-face {
    font-family: "Inter Regular";
    src: url(fonts/Inter/static/Inter_28pt-Regular.ttf)format("truetype");
}

*{
    margin: 0;
    padding: 0;
}

html{
    scrollbar-width: none; /* Firefox */
    scrollbar-color: transparent transparent; /* Firefox */
    cursor: none;
}

::-webkit-scrollbar{
    width: 0;
}

body{
    background-color: rgba(250, 250, 250, 1);
    color: rgba(9, 9, 9, 1);
    padding: 0rem;
    cursor: none;
}

#meu_cursor_delay {
  z-index: 10000;
  background-color: rgb(255, 255, 255);
  mix-blend-mode: difference;
  pointer-events: none;
}

#meu_cursor{
  pointer-events: none;
  z-index: 10001;
  background-color: rgb(255, 255, 255);
  mix-blend-mode: difference;
}

@media (hover:none), (pointer: coarse){
    #meu_cursor_delay, #meu_cursor{
        display: none !important;
    }
}

/* Style GUIDE*/

h1{
    font-size: 15rem; /*240px*/
    font-weight: 900;
    font-family: "Inter", sans-serif;
    line-height: 0.8em;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

h2{
    font-size: 7rem; /*112px*/
    font-weight: 500;
    font-family: "Inter", sans-serif;
    line-height: 1em;
    letter-spacing: -0.03em;
    padding: 0;
    margin: 0;
}

h3{
    font-size: 3rem; /*48px*/
    font-weight: 500;
    font-family: "Inter", sans-serif;
    line-height: 1.1em;
    letter-spacing: -0.02em;
    padding: 0;
    margin: 0;
}

h4{
    font-size: 2rem; /*32px*/
    font-weight: 500;
    font-family: "Inter", sans-serif;
    line-height: 1.2em;
    letter-spacing: -0.02em;
    padding: 0;
    margin: 0;
}

p{
    font-size: 1rem; /*16px*/
    font-family: "Inter Regular", sans-serif;
    line-height: 1.5em;
    letter-spacing: 0;
    padding: 0;
    margin: 0;
}

a {
    font-size: 1rem; /* 16px */
    font-family: "Inter Regular", sans-serif;
    line-height: 1.5em;
    letter-spacing: 0;
    text-decoration: none;
    color: rgba(9, 9, 9, 1);
    padding: 0;
    margin: 0;
    position: relative;
    cursor: none;
  }
  
  .navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.125rem;
    width: 100%;
    height: 0.06rem;
    background-color: rgba(0, 0, 0, 1); /* underline color */
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }
  
  a:hover {
    cursor: none;
  }
  
  .navbar a:hover::after {
    transform: scaleX(1);
  }
  

button{
    font-size: 2rem; /*48px*/
    font-weight: 500;
    font-family: "Inter", sans-serif;
    line-height: 1.1em;
    letter-spacing: -0.02em;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #000000;
    height: 0;
    cursor: none;
}

button:hover{
    color: rgba(79, 71, 237, 1);
    cursor: none;
}

@media screen and (max-width: 1200px) {
    
    h2{
        font-size: 5rem; /*80px*/
    }
    
    h3{
        font-size: 2rem; /*32px*/
    }

    h4{
        font-size: 1.5rem; /*24px*/
    }
}

/* Utility classes */

.u-section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7rem 0rem;
}

main{
    width: 94%;
    max-width: 110rem; /*1500px*/
    height: 100%;
}

/* Navbar */
.navbar{
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(250, 250, 250, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul{
    list-style-type: none;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem 0rem;
    width: 94%;
    max-width: 100rem;   
    
}

/* Homepage */

/* Hero */

.hero_section{
    height: auto;
}

.hero_container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2.5rem;
    height: auto;
}

.hero_img{
    height: 60rem;
    width: 100%;
    background-image: url(imagens/hero-img.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 1200px) {
    .hero_img{
        height: 40rem;
    }

    .hero_logo{
        width: 80vw;
    }
}

@media screen and (max-width: 700px) {
    .hero_img{
        height: 20rem;
    }

    .hero_logo{
        width: 80vw;
    }
}

/* About container */

.about_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: left;
    gap: 2.5rem;
}

.about_container .wrap{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: flex-start;
}

.services_list{
    width: 100%;
}

.service{
    display: flex;
    display: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;
    border-bottom: solid;
    border-color: rgba(0, 0, 0, .1);
    border-width: 0.1rem;
}

.service p{
    color: gray;
}

@media screen and (max-width: 1200px) {
    
    .about_container{
        align-items: center;
    }
    
    .about_container .wrap{
        width: 100%;
    }

    .service{
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }
}

/* Works Section */

.works_section{
    margin-bottom: 7rem;
}

.works_container{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.projects_grid{
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%as;
}

.projects_row{
    height: 52rem;
    display: flex;
    gap: 1rem;
}

.projects_grid .projects_row .item{
    height: 100%;
    width: 50%;
    cursor: none;
    overflow: hidden;
}

.projects_row .image_container h3{
    position: absolute;
    color: rgba(250, 250, 250, 1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
    transition: all 0.5s ease;
    mix-blend-mode: difference;
    text-align: center;
}

.projects_grid .projects_row .item:hover h3{
    opacity: 1;
    transform: translate(-50%, -50%);
}

.projects_grid .projects_row .item:hover img{
    filter: brightness(0.1);
    transform: scale(1.1);
}


.projects_row .image_container{
    height: 100%;
    width: 100%;
    position: relative;
}

.projects_row .image_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
}

.works_container button{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2.5rem;
}

@media screen and (max-width: 1200px) {
    
    .projects_row{
        flex-direction: column;
        width: 100%;
        height: 100rem;
    }

    .projects_grid .projects_row .item{
        width: 100%;
        height: 100rem;
    }
    
}

@media screen and (max-width: 700px) {
    
    .works_container{
        align-items: start;
    }

    .works_container button{
        align-items: flex-end;
    }
    
    .projects_row{
        flex-direction: column;
        width: 100%;
        height: 52rem;
    }

    .projects_grid .projects_row .item{
        width: 100%;
        height: 52rem;
    }
}

/* Footer */

.footer{
    background-color: rgba(9, 9, 9, 1);
    position: relative;
    height: 70vh;
    min-height: 70vh;
    justify-content: start;
    overflow: hidden;
}

.footer_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    color: rgba(250, 250, 250, 1);
}

.footer header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 5rem;
}

.footer header .left_cta{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact_info{
    display: flex;
    gap: 2rem;
    color: rgba(250, 250, 250, 1);
}

.footer .email, .footer .phone{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact_info a{
    display: flex;
    gap: 1rem;
    color: rgba(250, 250, 250, 1);
}

.contact_info .wrap{
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.footer .credits{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 2rem;
}

.footer .links_list{
    display: flex;
    gap: 2rem;
    list-style-type: none;
}

.footer .links_list a{
    color: rgba(250, 250, 250, 1);
    text-decoration: none;
    position: relative;
}

.footer .links_list a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.06rem;
    width: 100%;
    background-color: rgba(250, 250, 250, 1);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.footer .links_list a:hover::after {
    transform: scaleX(1);
}

.footer .contact_info a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.06rem;
    width: 100%;
    background-color: rgba(250, 250, 250, 1);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.footer .contact_info a:hover::after {
    transform: scaleX(1);
}

.footer_logo{
    position: absolute;
    bottom: -60%;
    left: -100%;
    height: 64rem;
    min-height: 64rem;
}

@media screen and (max-width: 1200px) {
    
    .footer{
        height: auto;
        min-height: none;
        padding: 2rem 0;
        align-items: center;
        justify-content: center;
    }

    .footer header{
        display: flex;
        flex-direction: column;
        gap: 5rem;
        align-items: center;
        justify-content: space-between;
        width: 93%;
        padding-bottom: 2rem;
    }

    .footer header .left_cta{
        width: 100%;
        justify-content: start;
    }

    .footer .email, .footer .phone{
        gap: 0.5rem;
    }

    .contact_info{
        flex-direction: column;
        gap: 2rem;
        width: 100%;
    }

    .footer .credits{
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 6rem;
        width: 93%;
    }

    .footer .links_list{
        flex-direction: column;
        gap: 1rem;
    }

    .footer_logo{
        display: none;
    }
}

/* ARCHIVE */

.archives_section{
    height: 100vh;
    padding: 0;
    overflow: hidden;
}

.archives_section header{
    width: 93%;
    padding: 7.5rem 0;
}
.archives_section header img{
    width: 70%;
}

.archives_section main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.archives_list{
    width: 100%;
    list-style: none;
    display:flex;
    justify-content: flex-start;
    align-items: end;
    gap: 1rem;
    padding-left: 30rem;
    padding-right: 2.5rem;
    margin-bottom: 2.5rem;
    overflow-x: auto;
}

.archives_list::-webkit-scrollbar{
    width: 0;
}

.archives_list .item{
    min-width: 200px;
    width: 200px;
    transition: all 0.6s ease;
}

.archives_list .item .image_container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.archives_list .item .image_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.archives_list .item:hover{
    width: 400px; /* Expande apenas na largura */
}

@media screen and (max-width: 1200px) {
    
    .archives_section{
        height: 93vh;
        padding: 5rem 0 2.5rem 0;
    }

    .archives_section header{
        padding: 2.5rem 0;
    }

    .archives_section header img{
        width: 80%;
    }

    .archives_list{
        padding-left: 2.5rem;
        padding-right: 0;
        /*width: 93%;*/
        /*overflow-x: none;*/
        /*flex-direction: column;*/
        align-items: center;
    }

    .archives_list::-webkit-scrollbar{
        width: 0;
    }

    .archives_list .item{
        min-width: 400px;
        width: 400px;
    }

    .archives_list .item:hover{
        width: auto;
    }
}

/* PROJECT */

.project_hero_section { 
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
}

.project_hero_section main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    
}

.project_hero_section .image_container{
    height: 41rem;
    width: 100%;
}

.project_hero_section .image_container video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center !important;
}

.project_hero_section .content{
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 5rem;
}

.project_hero_section .right, .project_hero_section .left{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project_hero_section .right .tag_wrapper{
    display: flex;
    gap: 0.5rem;
}

.tag_wrapper ul{
    list-style: none;
    display: flex;
    gap: 0.5rem;
}

.tag_wrapper ul li{
    background-color: #EEEEEE;
    padding: 0.25rem 0.5rem;
}

/* Gallery */

.gallery{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.gallery li{
    width: 100%;
    height: auto;
}

.gallery ul{
    display: flex;
    list-style: none;
    gap: 1rem;
}

.gallery ul li{
    width: 50%;
    height: auto;
}

.gallery li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button_container {
    display: flex;
    justify-content: space-between;
    padding: 0rem;
    margin-top: 2.5rem;
}

@media screen and (max-width: 1200px) {
    
    .project_hero_section .content{
        flex-direction: column;
        align-items: center;
    }

    .project_hero_section .right, .project_hero_section .left{
        width: 100% !important;
    }

    .gallery ul li{
        width: 100% !important;
    }
    
    .project_hero_section .image_container{
        height: 30rem !important;
    }

    .gallery ul{
        flex-direction: column;
    }
}

